
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title></title> -->
    <!-- Add any additional meta tags or stylesheets here -->
</head>
<body>
<footer>
    <!-- <p>&copy; <%= new Date().getFullYear() %> Player Management</p> -->
    <!-- Add additional footer content, such as copyright information or contact details, as needed -->
</footer>
</body>
</html>