<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
    <style>
        .footer {
            width: 100%;
            /* background-color: #333; */
            color: #333;
            text-align: center;
            padding: 10px 0;
            position: absolute;
            bottom: 0;
            font-size: 14px;
        }
    </style>
</head>
<body>

    <div class="footer">
        <p>&copy; 2023 Will Durban, Amity Lu, Qingyu Zhou | EE547 Class</p>
    </div>

</body>
</html>
