<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/public/images/trojan-icon.ico">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Palatino', 'Palatino Linotype', serif;
        }

        .top-bar {
            width: 100%;
            background-color: #990000;
            color: #FFCC00;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        .logo img {
            margin-left: 30px;
            width: 30px; /* Adjust the width as needed */
            height: 30px; /* Adjust the height as needed */
        }

        .nav-bar {
            display: flex;
        }

        .nav-bar a {
            color: #FFCC00;
            text-decoration: none;
            margin: 0 15px;
        }
        
    </style>
</head>
<body style="display:flexbox">
    <div class="top-bar">
        <div class="logo"> 
            <!-- Replace "/public/images/trojan-icon.ico" with the actual path to your icon image -->
            <a  href="/trojanhousing/home.html">
                <!-- <a  href="/trojanhousing/home.html"> -->
                <img src="/images/trojan-icon.ico" alt="Trojan Icon">
               
            </a>
            <div class="nav-bar" id="left-top-bar">
                <a href="/trojanhousing/home.html">Home</a>
                <a href="/admin/managerboard.html">Admin Manageboard</a>
                <!-- Add more navigation links as needed -->
            </div>
        </div>
        
        <!-- <div><h1>Trojan Housing</h1></div> -->
        <div class="nav-bar" >
            
            <a href="/trojanhousing/about.html">About Us</a>
            <a href="/users/students/signup.html">Student Sign up</a>
            <a href="/users/landlords/signup.html">Landlord Join</a>
            <a href="/login.html">Log In</a>
            <!-- <a href="/trojanhousing/emptypage.html">Landlord Log in</a> -->
            <!-- <a href="/login.html">Landlord Log in</a> -->
            <!-- Add more navigation links as needed -->
        </div>
    </div>
</body>
</html>
