 <!-- views/layout.ejs -->
 <!DOCTYPE html>
 <html>
   <head>
     <title>Trojan Housing</title>
     <!-- <link rel="stylesheet" href="/css/site.css"> -->
     <link rel="icon" type="image/x-icon" href="/images/trojan-icon.ico">
     <!-- <script src="/js/site.js"></script> -->
   </head>
   <body>
     <%- include('partials/header.ejs') %>
     <%- body %>
     <%- include('partials/footer.ejs') %>
    </body>
  </html>