<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Trojan Housing</title>
        <!-- <link rel="stylesheet" href="/css/site.css">
        <script src="/js/site.js"></script> -->
    </head>
    
    <body>
        <%- include('partials/header.ejs') %>
        <%- body %>    
        <%- include('partials/footer.ejs') %>
    </body>
</html>
