<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <style>
        body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100vh;
            margin: 0;
            /* font-family: Arial, sans-serif; */
            font-family:'Courier New', Courier, monospace ;
            background-color:rgba(255, 204, 0, 0.657)
        }
        .left-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            font-family:'Courier New', Courier, monospace ;
        }
        .container {
            text-align: center;
            width: 100%;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
        }
        .info {
            padding: 10px;
        }
        .right-column {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #990000cb; /* Example background color for the right column */
            /* font-family: Arial, sans-serif; */
        }
        .right-column p {
            /* padding: 20px; */
            text-align: left;
            padding: 0 50px;
            /* font-family: Arial, sans-serif; */
        }
        #studentCount, #landlordCount, #propertyCount{
            font-size: 100px; /* Adjust the font size as needed */
        }
        .links {
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="left-column">
        <div class="container">
            <div class="info">
                <h2>Student Users</h2>
                <p><span id="studentCount"></span></p>
            </div>
        </div>
        <div class="container">
            <div class="info">
                <h2>Landlord Users</h2>
                <p><span id="landlordCount"></span></p>
            </div>
        </div>

        <div class="container">
            <div class="info">
                <h2> # of Properties</h2>
                <p><span id="propertyCount"></span></p>
            </div>
        </div>
    </div>

    <div class="right-column">
        <!-- using <br> to seperate the line -->
            <p>As a student at the University of Southern California, finding suitable accommodation can sometimes be challenging, particularly for non-local students new to the USC area, due to a lack of reliable information sources.
                Our goal is to extend a helping hand to every Trojan in search of a comfortable home while at school. Creating a seamless and enjoyable experience for all members of the Trojan community. 
            </p>
            <h1>Join today</h1>
            <!-- Content for the right column goes here -->
    </div>


    <script>
        document.getElementById('studentCount').innerText = '10'; // Replace with actual student count
        document.getElementById('landlordCount').innerText = '7'; // Replace with actual landlord count
        document.getElementById('propertyCount').innerText = '100'; // Replace with actual landlord count

        const POLL_INTERVAL_SEC = 10;
        document.addEventListener('DOMContentLoaded', async () => {
            const updateDashboard = () => {
                fetch('/api/homepage')
                    .then(response => response.json())
                    .then(data => {
                        // Update the dashboard with the new data
                        document.querySelector('#studentCount').textContent = data.studentCount;
                        document.querySelector('#landlordCount').textContent = data.landlordCount;
                        document.querySelector('#propertyCount').textContent = data.propertyCount;
                    });
            };
        
            // Initial updateDashboard then periodically
            updateDashboard();
            setInterval(updateDashboard, POLL_INTERVAL_SEC * 1000); //1000
        });
    </script>  

    <!-- Your script or JavaScript here -->

</body>
</html>
