<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create landlord User</title>
    <link rel="icon" type="image/x-icon" href="/images/trojan-icon.ico">
    <style>
        body {
            background-size: cover;
            background-position: center;
        }
        .error-message{
            color: red;
            margin-bottom: 10px
        }
        .admin-form {
            width: 800px; /* Adjust the width as needed */
            height: 450px; /* Adjust the height as needed */
            margin: auto; /* Center the element horizontally */
            margin-top: 0px; /* Adjust the margin-top to center vertically */
            border: 2px solid #ffffff; /* Border color (black in this case) */
            border-radius: 10px; /* Border radius to create a circle */
            background-color: rgba(250, 246, 229, 0.8); /* Light beige background color */
            padding: 5px; /* Adjust the padding as needed */
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .admin-page-title{           
            /* margin-top: 20px; */
            font-size: 36px; /* Increase the font size */
            color: #990000; /* Set a specific text color */
            text-align: center; /* Center the text */
            margin-top: 20px; /* Add some top margin */
            margin-bottom: 20px; /* Add some bottom margin */
            /* Add more styles as needed */

        }
        .admin-page-subtitle{           
            /* margin-top: 20px; */
            font-size: 20px; /* Increase the font size */
            color: #c49d00; /* Set a specific text color */
            text-align: center; /* Center the text */
            margin-top: 20px; /* Add some top margin */
            margin-bottom: 20px; /* Add some bottom margin */
            /* Add more styles as needed */

        }
        .input-bar{
            width: 200px; /* Adjust the width as needed */
        }
        .form-submit-button{
            width: 100px; /* Adjust the width as needed */
            height: 30px; /* Adjust the height as needed */
            background-color: #990000; /* Light beige background color */
            color:#ffffff;
            display: block;
            margin: auto; /* Center the button horizontally */
            /* justify-content: center;
            align-items: center; */
        }
        .whole-page-background-image{
            height: 80vh;
            width: 100vw;
            background-image: url('/images/USC-Gold-Shield-scaled-1.jpg');
            /* background-color: rgba(255,255,255,0.5); */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .whole-page-background-color{
            height: 100vh;
            width: 100vw;
            /* background-image: url('/images/USC_great_lawn.jpg'); */
            padding-top: 0px;
            background-color: rgba(255,255,255,0);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .display-box {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            padding: 20px;
        }
        #display-box-verti{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        #display-box-hori{
            
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
        }
        

        .info-box {
            background-color:rgba(243, 239, 235, 0.8);
            width: 20vw;
            padding: 20px;
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 5%;
            text-align: center;
        }
        .block-text {
            width: 80vw;
            height: auto;
            margin: 0 auto; /* Center the block horizontally */
            padding: 20px;
            font-size: 1.5em; /* Use em units for better scalability */
            line-height: 1.5; /* Adjust line height for better readability */
            font-family: 'Helvetica', sans-serif; /* Use a common sans-serif font */
            background-color: rgba(243, 239, 235, 0.3); /* Increase the alpha for a less transparent background */
            color:  #5b0202; /* Darken the text color for better contrast */
            border-radius: 10px; /* Add rounded corners for a softer look */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
        }
        .admin-button{
           
            width: 200px; /* Adjust the width as needed */
            height: 30px; /* Adjust the height as needed */
            background-color: #990000; /* Light beige background color */
            color:#ffffff;
            display: block;
            margin: auto; /* Center the button horizontally */
            margin-top: 10px;
        }

    </style>
</head>
<body>
 <!-- <div class="whole-page-background-image" id="background-image"> -->
    <div class="whole-page-background-color" >
    <h1 class="admin-page-title"><br>Trojan Housing Homepage</h1>
    <h2 class="admin-page-subtitle" ><div id="greeting-message"></div> </h2>
    <p class="block-text">
        As students navigating life at the University of Southern California, 
        securing suitable accommodation, especially for non-local students new to the USC area, 
        can present a notable challenge exacerbated by a lack of reliable information sources. Acknowledging this common struggle, 
        we are thrilled to unveil the Trojans Housing Rental Platform app. 
        Our mission is clear: to provide a helping hand to every Trojan in search of a comfortable home during their time at school.
        The Trojans Housing Rental Platform app offers a meticulously curated selection of confidential housing listings from verified landlords within the USC area. Moreover, verified USC student users have the ability to publish subleased housing posts. The app is designed with user convenience in mind, offering intuitive filters based on criteria such as pricing, proximity to the USC campus, distance from the nearest USC bus stop, and whether the housing is situated within the free Lyft zone.
    </p>
    <button class="admin-button" id="manager-board-button"><a href="/users/students/signup.html">Join us today!</a></button>
    <!-- <h2 class="admin-page-subtitle" >More about our Proud Product</h2> -->
    <!-- <p class="block-text" style="background-color: rgba(243, 239, 235, 0); ">
       <div class="block-text"><div id="student-user-num"></div><br>
       <div id="landlord-user-num"></div><br>
       <div id="housing-num"></div><br>
    </p> -->
    <div class="display-box" id="display-box-hori">
        <div class="info-box">
            <a href="/users/students/signup.html">
                <img src="/images/USC-trojan-head.png" alt="student-image" style="max-width: 100px; max-height: 100px;">
            </a>
            <br><div id="student-user-num"></div><br>
            <div>Click to Sign Up</div>
          
        </div>
        <div class="info-box">
            <a href="/users/landlords/signup.html">
                <img src="/images/landlord-circle.webp" alt="landlord-image" style="max-width: 100px; max-height: 100px;">
            </a>
            <br><div id="landlord-user-num"></div><br>
            <div>Click to Join Us</div>
            
        </div>
        <div class="info-box">
            <a href="/trojanhousing/list.html">
                <img src="/images/Sweet-housing.png" alt="housing-image" style="max-width: 100px; max-height: 100px;">
            </a>
                <br><div id="housing-num"></div><br>
            <div>Click to Post Your Property</div>
        </div>
    </div>
    <button class="admin-button" id="manager-board-button"><a href="/trojanhousing/about.html">To learn more about us</a></button>
    



<!-- 
 </div> -->
</div>
<script>
   /********************* greet user based on real time *************************/
    const currentDate = new Date();
    let currentHour = currentDate.getHours()%24;
    // currentHour = 17;
    let greetingMsg = '';
     let backgroundImage;
    // Check if the current hour is in the morning or afternoon
    if (currentHour >=4 && currentHour < 12) {
        greetingMsg = 'Good morning!';
        backgroundImage = '/images/USC_great_lawn.jpg';
       
    } else if (currentHour >= 12 && currentHour < 16) {
        greetingMsg = 'Good afternoon!';
        backgroundImage = '/images/USC_great_lawn.jpg';
       
        
    }else if (currentHour >= 16 && currentHour < 18) {
        greetingMsg = 'Good afternoon!';
        backgroundImage = '/images/USC_great_lawn.jpg';
      
    } 
    else {
        greetingMsg = 'Good evening or night!';
        backgroundImage = '/images/USC-trojan.webp';
       
    }

    document.getElementById("greeting-message").innerHTML = greetingMsg;
    document.body.style.backgroundImage = `url(${backgroundImage})`;

    /********** fetch the active students, lanslord, housing number **********/
    let homeinfo = async()=>{
        try {
            console.log("homeinfo,hello");
            const response = await fetch(`/api/homeinfo`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                const data = await response.json();
                console.log("homeinfo", data);
                // console.log("homeinfo",response.body);
            //    let student_num = response
                document.getElementById('student-user-num').innerText = `${data.studentCount} students like you have joined us`;
                document.getElementById('landlord-user-num').innerText = `${data.landlordCount} landlords work with us`;
                document.getElementById('housing-num').innerText = `${data.propertyCount} sweet homes ready for you`;
                // setTimeout(() => {
                //     location.reload();
                // }, 80);
            } else {
                console.error(`Failed to fetch data}`);
                // document.getElementById('error-message').innerText = `Failed to delete student with ID ${studentId}`;
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }
    homeinfo();
    
</script>

</body>
</html>
