<!-- by Amity Lu -->
<!DOCTYPE html>
<head>
    <html lang="en">
    <meta charset="UTF-8">
    <title>LogIn</title>
    <style>
        .login-container {
            width: 800px; /* Adjust the width as needed */
            height: 450px; /* Adjust the height as needed */
            margin: auto; /* Center the element horizontally */
            margin-top: 0px; /* Adjust the margin-top to center vertically */
            border: 2px solid #ffffff; /* Border color (black in this case) */
            border-radius: 10px; /* Border radius to create a circle */
            background-color: rgba(250, 246, 229, 0.8); /* Light beige background color */
            padding: 5px; /* Adjust the padding as needed */
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .whole-page-background-image{
            height: 80vh;
            width: 100vw;
            background-image: url('/images/USC-Gold-Shield-scaled-1.jpg');
            /* background-color: rgba(255,255,255,0.5); */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .whole-page-background-color{
            height: 80vh;
            width: 100vw;
            /* background-image: url('/images/USC_great_lawn.jpg'); */
            background-color: rgba(255,255,255,0.7);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .login-container h2 {
            margin: 10px; /* Reset default margin */
                        /* margin-top: 20px; */
            font-size: 36px; /* Increase the font size */
            color: #333; /* Set a specific text color */
            text-align: center; /* Center the text */
            text-transform: uppercase; /* Convert text to uppercase */
            margin-top: 20px; /* Add some top margin */
            margin-bottom: 20px; /* Add some bottom margin */
            /* Add more styles as needed */

        }
        .login-container form input {
            margin: 5px 0;
        }
        .enter {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
        }
        .form-submit-button{
            width: 100px; /* Adjust the width as needed */
            height: 30px; /* Adjust the height as needed */
            background-color: #990000; /* Light beige background color */
            color:#ffffff;
            display: block;
            margin: auto; /* Center the button horizontally */
            /* justify-content: center;
            align-items: center; */
        }
        .admin-page-title{           
            /* margin-top: 20px; */
            font-size: 36px; /* Increase the font size */
            color: #333; /* Set a specific text color */
            text-align: center; /* Center the text */
            text-transform: uppercase; /* Convert text to uppercase */
            margin-top: 20px; /* Add some top margin */
            margin-bottom: 20px; /* Add some bottom margin */
            /* Add more styles as needed */

        }


    </style>
</head>

<body>
    <!-- <h2>Login</h2> -->
    <div class="whole-page-background-image">
    <div class="whole-page-background-color">
        <h1 class="admin-page-title"><br>Sign In</h1>
    <!-- <h2 class="admin-page-subtitle">Welcome to Trojan Housing Family</h2> -->
    <div class="login-container">
        <!-- <h2>Login</h2> -->
        <form id="loginForm">

            <label for="student"><input type="radio" name="role" id="student" value="student"> Student</label>
            <label for="landlord"><input type="radio" name="role" id="landlord" value="landlord"> Landlord</label>
            <!-- <label for="administrator"><input type="radio" name="role" id="admin" value="admin"> Admin</label><br></br> -->

            <div class = enter>
                <input type="text" id="username" placeholder="Username" required>
                <input type="password" id="password" placeholder="Password" required><br></br>

                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</div>
</div>
    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent form submission

            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
            var role = document.querySelector('input[name="role"]:checked').value;

            let apiUrl = '/api/login'
            apiUrl += `?username=${username}`;
            apiUrl += `&password=${password}`;
            apiUrl += `&role=${role}`;

            fetch(apiUrl)
                .then(response => response.json())
                .then(Jumping) //(Jumping.loginSucess)
                .catch(error => {
                    console.error('Error fetching data:', error);
            });
            // Perform basic validation (you can add more robust validation)
            async function Jumping(answer){
                console.log('Jumping',role)
                if (answer) {
                    var role = document.querySelector('input[name="role"]:checked').value;
                    username = document.getElementById('username').value;

                    if(role == "student"){
                        // var ID = document.getElementById('username').value;
                        window.location.href = '/student/list_property.html'
                    }else if(role == "landlord"){
                        const landlordinfor = await get_ID(username);

                        async function get_ID(username) {
                            try {
                                let apiUrl = '/api/landlord/one';
                                apiUrl += `?username=${username}`;

                                const response = await fetch(apiUrl, {
                                    method: 'GET',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                });
                                if (response.ok) {
                                    const responseData = await response.json();
                                    return responseData; // This assumes the data is sent as JSON
                                } else {
                                    const errorData = await response.json();
                                    throw new Error(`Server Error: ${errorData.message}`);
                                }
                            } catch (error) {
                                // Log or handle the error as needed
                                console.error('An error occurred while fetching data:', error);
                                throw error;
                            }
                        }
                        // const var = 'get landlordinro',landlordinfor)

                        alert('Welcome back  '+landlordinfor.fname)
                        // window.location.href = 'users/${landlordinfor._id}/list_property.html'
                        window.location.href = `users/${landlordinfor._id}/list_property.html`;

                    }   else if(role == "admin"){
                        window.location.href = '/admin/students.html'
                    }
                } else {
                    alert('Login failed. Invalid username or password.');
                }
            }
        });
    </script>
</body>
</html>
