<!-- by Amity Lu -->
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .whole-page-background-image{
            height: 80vh;
            width: 100vw;
            background-image: url('/images/USC-Gold-Shield-scaled-1.jpg');
            /* background-color: rgba(255,255,255,0.5); */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .whole-page-background-color{
            height: 80vh;
            width: 100vw;
            /* background-image: url('/images/USC_great_lawn.jpg'); */
            background-color: rgba(255,255,255,0.7);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .form-submit-button{
            width: 100px; /* Adjust the width as needed */
            height: 30px; /* Adjust the height as needed */
            background-color: #990000; /* Light beige background color */
            color:#ffffff;
            display: block;
            margin: auto; /* Center the button horizontally */
            /* justify-content: center;
            align-items: center; */
        }
        .creating {
            width: 800px; /* Adjust the width as needed */
            height: 450px; /* Adjust the height as needed */
            margin: auto; /* Center the element horizontally */
            margin-top: 10px; /* Adjust the margin-top to center vertically */
            border: 2px solid #ffffff; /* Border color (black in this case) */
            border-radius: 10px; /* Border radius to create a circle */
            background-color: rgba(250, 246, 229, 0.8); /* Light beige background color */
            padding: 5px; /* Adjust the padding as needed */
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .admin-page-title{           
            /* margin-top: 20px; */
            font-size: 36px; /* Increase the font size */
            color: #333; /* Set a specific text color */
            text-align: center; /* Center the text */
            text-transform: uppercase; /* Convert text to uppercase */
            margin-top: 20px; /* Add some top margin */
            margin-bottom: 20px; /* Add some bottom margin */
            /* Add more styles as needed */

        }
        .deleteButton{
            width: 100px; /* Adjust the width as needed */
            height: 30px; /* Adjust the height as needed */
            background-color: #990000; /* Light beige background color */
            color:#ffffff;
            display: block;
            margin: auto; /* Center the button horizontally */
            /* justify-content: center;
            align-items: center; */
        }
        </style>
    <meta charset="UTF-8">
    <title>Edit Housing</title>
    <script>
        document.addEventListener('DOMContentLoaded',async () => {
            const url = new URL(window.location.href)
            const propertyId = url.pathname.split('/')[2];
            const modifyhousing = document.getElementById('modifyhousing');
            const deleteButton = document.getElementById('deleteButton');

            modifyhousing.addEventListener('submit', async (event) => {
                event.preventDefault(); // Prevent the default form submission

                const url = new URL(window.location.href)
                const propertyId = url.pathname.split('/')[2];

                // Get the value
                const address = document.getElementById('address');
                const numberOfRooms = document.getElementById('numberOfRooms');
                const rent = document.getElementById('rent')|| '';
                const securityDeposit= document.getElementById('securityDeposit');
                const summary = document.getElementById('summary');
                const nickname = document.getElementById('nickname');
                const location = document.getElementById('location' );
                const taken = document.getElementById('taken');
                // Construct the request body
                const requestBody = {
                        address: address.value,
                        numberOfRooms: numberOfRooms.value,
                        rent: rent.value, 
                        securityDeposit: securityDeposit.value, 
                        summary: summary.value,
                        nickname: nickname.value,
                        location: location.value,
                        taken: taken.value
                        // redirect: '/players.html', not sure whethe is going?
                    };
                // Send the data to the server using fetch
                try {
                    const response = await fetch(`/api/property/${propertyId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(requestBody),
                    });

                    if (response.ok) {
                        const responseData = await response.json();
                        console.log(responseData)
                        alert('Modified')
                        // Construct the URL string with the landlordId
                        const newURL = `/users/${responseData.landlordId}/list_property.html`;

                        // Navigate to the new URL
                        window.location.href = newURL;
                    } else {
                        const errorData = await response.json();
                        alert(`Server Error: ${errorData.message}`);
                    }
                } catch (error) {
                    alert('An error occurred while communicating with the server.');
                }
            });
        });


    </script>
</head>
<body>

    <div class="whole-page-background-image">
        <div class="whole-page-background-color">
            <h1 class="admin-page-title"><br>Edit Property</h1>
            <div class="creating">
                <form id="modifyhousing">
                    <label for="address">address:</label>
                    <input type="text" id="address" name="address"> 
                    <br>
                    <br>
                    <label for="numberOfRooms">number Of Rooms:</label>
                    <input type="number" id="numberOfRooms" name="numberOfRooms">
                    <br>
                    <br>
                    <label for="rent">rent:</label>
                    <input type="number" id="rent" name="rent"> 
                    <br>
                    <br>
                    <label for="securityDeposit">security Deposit:</label>
                    <input type="number" id="securityDeposit" name="securityDeposit">
                    <br>
                    <br>
                    <label for="summary">summary:</label>
                    <input type="text" id="summary" name="summary"> 
                    <br>
                    <br>
                    <label for="nickname">nickname:</label>
                    <input type="text" id="nickname" name="nickname"> 
                    <br>
                    <br>
                    <label for="location">location:</label>
                    <select id="location" name="location" > 
                        <option value="downtown">Downtown</option>
                        <option value="ktown">Ktown</option>
                        <option value="DPS">DPS area</option>
                    </select>
                    <br>
                    <br>
                    <label for="taken">Taken:</label>
                    <input type="checkbox" id="taken" name="taken">
                    <!-- Other input fields for creating a new property -->
                    <br>
                    <br>
                    <button type="submit"> Save Changes </button>
                </form>
            </div>
        </div>
    </div>

    </div>
</div>
    </body>
</html>
