<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create landlord User</title>
    <link rel="icon" type="image/x-icon" href="/images/trojan-icon.ico">
    <style>
        .error-message{
            color: red;
            margin-bottom: 10px
        }
        .admin-form {
            width: 800px; /* Adjust the width as needed */
            height: 450px; /* Adjust the height as needed */
            margin: auto; /* Center the element horizontally */
            margin-top: 0px; /* Adjust the margin-top to center vertically */
            border: 2px solid #ffffff; /* Border color (black in this case) */
            border-radius: 10px; /* Border radius to create a circle */
            background-color: rgba(250, 246, 229, 0.8); /* Light beige background color */
            padding: 5px; /* Adjust the padding as needed */
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .admin-page-title{           
            /* margin-top: 20px; */
            font-size: 36px; /* Increase the font size */
            color: #333; /* Set a specific text color */
            text-align: center; /* Center the text */
            text-transform: uppercase; /* Convert text to uppercase */
            margin-top: 20px; /* Add some top margin */
            margin-bottom: 20px; /* Add some bottom margin */
            /* Add more styles as needed */

        }
        .admin-page-subtitle{           
            /* margin-top: 20px; */
            font-size: 20px; /* Increase the font size */
            color: rgb(132, 47, 47); /* Set a specific text color */
            text-align: center; /* Center the text */
            text-transform: uppercase; /* Convert text to uppercase */
            margin-top: 20px; /* Add some top margin */
            margin-bottom: 20px; /* Add some bottom margin */
            /* Add more styles as needed */

        }
        .input-bar{
            width: 200px; /* Adjust the width as needed */
        }
        .form-submit-button{
            width: 100px; /* Adjust the width as needed */
            height: 30px; /* Adjust the height as needed */
            background-color: #990000; /* Light beige background color */
            color:#ffffff;
            display: block;
            margin: auto; /* Center the button horizontally */
            /* justify-content: center;
            align-items: center; */
        }
        .whole-page-background-image{
            height: 80vh;
            width: 100vw;
            background-image: url('/images/USC-Gold-Shield-scaled-1.jpg');
            /* background-color: rgba(255,255,255,0.5); */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .whole-page-background-color{
            height: 80vh;
            width: 100vw;
            /* background-image: url('/images/USC_great_lawn.jpg'); */
            background-color: rgba(255,255,255,0.7);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
 <div class="whole-page-background-image">
    <div class="whole-page-background-color">
    <h1 class="admin-page-title"><br>Manager Board</h1>
    <h2 class="admin-page-subtitle" ><div id="greeting-message"></div> </h2>

    
    

 </div>
</div>



<script>
    // Get the current date and time
const currentDate = new Date();
const currentHour = currentDate.getHours();
let greetingMsg = '';
// Check if the current hour is in the morning or afternoon
if (currentHour >= 0 && currentHour < 12) {
    greetingMsg = 'Good morning!';
} else if (currentHour >= 12 && currentHour < 18) {
    greetingMsg = 'Good afternoon!';
} else {
    greetingMsg = 'Good evening or night!';
}

   document.getElementById("greeting-message").innerHTML = greetingMsg;
</script>

</body>
</html>
