<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <title>HomePage</title> -->
    <style>
        .top-bar {
            width: 100%;
            background-color:#990000;
            color:#FFCC00;
            padding: 10px 0;
            font-family: 'Palatino', 'Palatino Linotype', serif; /* Font stack including Palatino */
            text-align: center;
        }

    </style>
</head>
<body>
    <div class="top-bar">
        <h1>Trojan Housing</h1>
    </div>
</body>
</html>
